@use 'global' as *;
.body{
  background:  linear-gradient(rgba(lightgray, .6), rgba(lightgray, .4)), url("@/assets/images/Layer 3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  height: 106px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  font-family: $font-Sono;

  & ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }

  & ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin: 30px 0;
    width: 150px;
    text-align: center;
    color: $color-black;
    text-decoration: none;
  }

  & ul li a:hover {
    font-weight: 800;
  }
}

.about {
  height: 90vh;
  display: flex;
  align-items: center;

  &-tekst {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;

    .stars {
      margin: 30px 0;
    }

    .star + .star {
      margin-left: 10px;
    }

    .description {
      font-family: $font-nunito;
      font-size: 25px;
      color: $color-black;
      text-align: center;
      padding-bottom: 10px;

    }
  }
}

.gallery {
  background-color: $color-white;
  padding: 20px 0 ;
  .gallery-title{
    text-align: center;
    font-family: $font-Sono;
  }
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
.tekst-overzichtspagina{
  margin: 0 0 0 2rem;
  padding-top: 2rem;
  font-family: $font-nunito;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  flex-direction: row;
  color:$tertiair-color;
  span {
    padding: 10px;
    i {
      margin-top: 3px;
      font-size: 40px;
      color:$tertiair-color;
    }
    &:hover {
      text-decoration: underline;
      transition: 1s all ease;
      cursor: pointer;
    }
  }
}
.footer{
  background-color: $primary-color;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-Sono;
  bottom: 0;
}