@use 'global' as *;

.main {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  &-products {
    margin: 2%;
    width: 18.5%;
    padding: 1%;
    border-radius: 5px;
    border: 3px solid $secondary-color;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-josefinSans;

    &-foto {
      width: 100%;
      margin: 20px 0;
    }

    &-tekst {
      flex: 1;
    }

    &-prijs {
      padding: 10px;
      background-color: $tertiair-color;
      color: #fff;
      text-align: center;
      font-weight: 700;
      border-radius: 5px;
      margin: 20px 0 0 0;
      width: 50%;
    }
  }
}
#products{
  display: flex;

}
.filter {
  margin: 30px 100px 0 32px;
  display: flex;
  width: 15%;
  //height: 75%;
  align-items: flex-start;
  //justify-content: center;
  flex-direction: column;
}
.filter-label {
  display: inline-block;
  margin: 15px;
  //padding: 8px 12px;
  border: 2px solid $tertiair-color;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-input {
  display: none;
}

.filter-label:hover,
.filter-input:checked + .filter-text {
  background-color: $tertiair-color;
  color: #fff;
}

.filter-input:checked {
  font-weight: bold;
}

.filter-text {
  font-size: 18px;
  font-family:$font-josefinSans;
  //padding: 8px 12px;
}


