@use 'global' as *;

.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  &-products {
    margin: 2%;
    width: 18.5%;
    padding: 1%;
    border-radius: 5px;
    border: 3px solid $secondary-color;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-josefinSans;

    &-foto {
      width: 100%;
      margin: 20px 0;
    }

    &-tekst {
      flex: 1;
    }

    &-prijs {
      padding: 10px;
      background-color: $tertiair-color;
      color: #fff;
      text-align: center;
      font-weight: 700;
      border-radius: 5px;
      margin: 20px 0 0 0;
      width: 50%;
    }
  }
}

.center {


}

.pagination {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px; /* Adjust the top margin as needed */
}

.pagination a {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #007BFF;
  color: #fff;
}








